@import'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

:root{
    --nero: #101419;
    --verde: #307351;
    --grigio: #E0E0E1;
    --rosso: #84130b;
}

/* #title{

        text-transform: uppercase;
        padding-top: 23vh;
        text-align: start;
        margin-left: 10%;

    
} */

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
  
}

.fade-in{
  animation: fade-in 2s ;
}



.hero{
    height: 90%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 20%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px
}

.hero-text h1{
    font-size: 90px;
    line-height: 1;
    margin: 0
}

.hero-img img{
    width: 500px;
    height: auto;
}

body {
    background-color: #f5f7fa;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  .h-img{
    height: 210px;
    width: 100%;
    object-fit: cover;
  }

  .cards-wrapper{
    display: flex;
  }

  .box{
    background-color: #ffffff;

  }

  body{
    padding: 0;
    margin: 0;
    background-image: url("4853433.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.footerbox{
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  
}

.containerfooter{
  max-width: 1170px;
  background-color: red;
  margin: auto;
}

#row1{
  display: flex;
  flex-wrap: wrap;
  background-color: #c7c7c7;
}


.ulfooter{
  list-style: none;
}

.footer{
  background-color: #24262b;
  padding: 70px 0;
}

/* .col{
  width: 5%;
  padding: 0 15px;
} */

.copytext{
 font-size: 15px;
}