@import'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

:root{
    --nero: #24262b;
    --verde: #307351;
    --grigio: #E0E0E1;
    --rosso: #84130b;
}

*{
  font-family: 'Poppins';
  font-weight: 400;
  font-style: bold;
}

.adbox1{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.adbox2{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.adbox3{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.adbox4{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.adbox5{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}


.showArticle{
  font-size: 60px;
}


.workwithus {
  font-size: 60px;
}

.allArticles{
  font-size: 60px;
}


.insertArticle{
  font-size: 60px;
}

.adminWelcome{
  font-size: 60px;
}
/* #title{

        text-transform: uppercase;
        padding-top: 23vh;
        text-align: start;
        margin-left: 10%;

    
} */

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
  
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
  
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background: transparent;
  
}

::-webkit-scrollbar-thumb{
  background: #24262b;
  border-radius: 10px;
  
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  padding: 20px;
}


.bgColor{
  background-color: white;
}

.navbar{
  transition:all 0.4s ;
}


.fade-out{
  animation: fade-out 5s;
}



.hero{
    height: 90%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 20%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px
}

.hero-text h1{
    font-size: 90px;
    line-height: 1;
    margin: 0
}

.hero-img img{
    width: 500px;
    height: auto;
}

body {
    background-color: #f5f7fa;
  }
  
  .fas.fa-heart:hover {
    color: #f44336 !important;
  }
  
  .fas.fa-share-alt:hover {
    color: #0d47a1 !important;
  }

  .h-img{
    height: 210px;
    width: 100%;
    object-fit: cover;
  }

  .cards-wrapper{
    display: flex;
  }

  .box{
    background-color: #ffffff;

  }

  body{
    padding: 0;
    margin: 0;
    background-image: url("4853433.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

.footerbox{
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  
}

.containerfooter{
  max-width: 1170px;
  background-color: red;
  margin: auto;
}

#row1{
  display: flex;
  flex-wrap: wrap;
  background-color: #c7c7c7;
}


.ulfooter{
  list-style: none;
}

.footer{
  background-color: #24262b;
  padding: 70px 0;
}

/* .col{
  width: 5%;
  padding: 0 15px;
} */

.copytext{
 font-size: 15px;
}


.social{
  font-size: 30px;
  margin-left: 27px;
}

.ArticleSearch{
  font-size: 60px;
}

.revisortext{
  font-size: 60px;
}

.box1{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
 
}

.alert{
  position: relative;
  top: 5vh;

}

.modify{
  font-size: 20px;
}

.box2{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}
.box3{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.search{
  position :relative;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
  border-radius:4rem;
  padding: 14px;
  overflow: hidden;
  transition: width .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.search__input{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  border-radius: 4rem;
  padding-left: 20px;
  font-size: small;
  font-weight: 500;
  opacity: 0;
  transition: 1.5s;
  background-color: #ffffff;
  
}

.search__input:-webkit-autofill{
  box-shadow: 0 0 0 100px white;
}

.search__button{
  width: 30px;
  height: 30px;
  background-color: var(--nero);
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .6s cubic-bezier(.9, 0,.3,.9);

}

.welcomee{
  padding-right: 100px;
}

.search__icon,
.search__close{
  color: white;
  font-size: 0.8rem;
  position: absolute;
  transition: opacity .2s cubic-bezier(.9, 0,.3,.9);
}


.search__close{
  opacity: 0;
}

.show-search{
  width: 49%;
}

.show-search .search__input{
  opacity: 1;
  pointer-events: initial;

}

.show-search .search__button{
  transform: rotate(90deg);
}

.show-search .search__icon{
  opacity: 0;
}

.show-search .search__close{
  opacity: 1;
}